---
import HomeIcon from "../../icons/HomeIcon.astro";
import { SearchIcon } from "../../icons/SearchIcon";
---

<div class="px-7 py-5 flex flex-col gap-6 bg-[#121212] rounded-none xl:rounded-lg">
  <div class="flex flex-row items-center gap-4">
    <HomeIcon />
    <a href="/" class="text-normal font-medium mb-0.5">Inicio</a>
  </div>
  <div class="flex flex-row items-center gap-4">
    <SearchIcon size={6} />
    <span class="text-normal font-medium mb-0.5">Buscar</span>
  </div>
</div>
